.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #4EA72B; /* Color verde principal */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

.nav {
    width: 100%;
    padding-left: 0;
}

.nav-item {
    width: 100%;
}

.nav-link {
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 18px;
}

.nav-link i {
    font-size: 20px;
}

.nav-link:hover {
    background-color: #388E3C; /* Color más oscuro para el hover */
    color: white !important;
}

.nav-link.active {
    background-color: #1A5304; /* Color de la opción seleccionada */
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    color: black;
    margin-left: 250px;
    height: 100px;
}

.topbar h1 {
    font-size: 48px;
    margin: 0;
}

.header-divider {
    border: none;
    height: 2px;
    background-color: black;
    width: calc(100% - 250px);
    margin-left: 250px;
}

.btn-success:hover {
    background-color: #3E8E20;
    color: white !important;
}

/*ESTO ES PARA LA TABLA*/

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    text-align: left;
    font-weight: bold;
}

.table-dark th {
    background-color: black;
    color: white;
    text-align: left;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
}

.btn-success {
    background-color: #4EA72B;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
}

.btn-success i {
    font-size: 20px;
}

.btn-success:hover {
    background-color: #3E8E20;
    color: white !important;
}
